<mat-horizontal-stepper [linear]="isLinear"  #stepper>
  <mat-step [completed]="false">
    Under construction - step 1
  </mat-step>
  <mat-step [completed]="false" [stepControl]="secondFormGroup">
    <app-med></app-med>
  </mat-step>
  <mat-step [completed]="false">
    Under construction - step 3
  </mat-step>
</mat-horizontal-stepper>