<h2>Your specialty medications</h2>
<p>We notice you're not enrolled in our system yet. Please provide medicaation and prescriber information
  below to enroll with us
</p>

<p><strong>Specialty medication information</strong></p>

<div>

  <p><strong>Medication Name</strong></p>

  <mat-form-field class="example-chip-list">
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let drugs of drug"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(drugs)">
        {{drugs}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="New Drug..."
        #drugInput
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [formControl]="drugCtrl"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let drugs of filtereddrug | async" [value]="drugs">
        {{drugs}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

</div>

  <h3>Prescribe Information</h3>

  <div class="form-group">
    <label for="usr"><strong>First Name and Last Name</strong></label>
    <input type="text" class="form-control" id="usr"  (keypress)="fnAlphabets($event);">
  </div>

  <div class="form-group">
    <label for="usr"><strong>Phone NUmber</strong></label>
    <input type="text" class="form-control" id="usr" (keypress)="fnNumbers($event)" minlength=10 maxlength=10>
  </div>

  <button type="button" class="btn btn-proj-color">Continue</button>
