/* You can add global styles to this file, and also import other style files */
/* Material design CSS import */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.btn-proj-color{
    background:#CB0102;
    color: white;
}
.mat-stepper-horizontal-line {
    display: none;
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: #CB0102;
    color: #fff;
    /* width: 1% ; */
}

.mat-step-header {
    width: 1% ;
}
.mat-form-field-infix {
    padding: .5em 0;
    border: 1px solid gray;
}

.mat-chip.mat-standard-chip {
    background-color: #e0e0e0;
    color: rgba(0,0,0,.87);
    border-radius: inherit;
}